<header class="jumbotron my-7">
        <h1 class="display-4 text-light mt-4">Salut <%="#{@user.first_name}"%></h1>
        <p class="lead text-light">C'est ta page de profil</p>
      </header>

      <h3><%="Prénom :  #{@user.first_name}"%></h3>
      <h3><%="Nom :  #{@user.last_name}"%></h3>
      <h3><%="email :  #{@user.email}"%></h3>
      <h3><%="Description :  #{@user.description}"%></h3>
      <h3><%="Membre depuis le :  #{@user.created_at.to_date}"%></h3>

      
      <div class="row p-5 mt-4 mb-4 bg-light text-dark">
        <h2><% if @user == current_user %>
            <a class="btn btn-lg btn-danger" <%= link_to "Editer ton profil", edit_user_registration_path%>
          <%else%>
            <%="Heu,c'est pas ta page de profil ça !"%>
          <%end%></h2>
      </div> 

      <div class="row p-5 mt-3 mb-3 bg-dark text-light">
            <% if @events.size >0%>
              <%="#{@user.first_name} propose #{@events.size} event(s) à venir :"%>
            <%else%>
              <%="#{@user.first_name} ne propose pas d'event à venir"%>
            <%end%>
          </div>    